body {
  background-color: red;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: darkred;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: 100%;
}
#grid section {
  width: 500px;
  height: 500px;
  display: inline-block;
}
